@charset "utf-8";

// Funciones de Bulma (como findColorInvert)
@use "bulma/sass/utilities/functions" as *;

// Colores de la institución
$ull-purple: #5C068C;
$ull-pink: #FA7C91;
$ull-beige: #EFF0EB;
$ull-link: #006699;

// Colores de Balatro
$balatro-cyan: #00D2D3;
$balatro-yellow: #F9CA24;
$balatro-green: #2CC56D;
$balatro-gray: #a8a8a8;
$balatro-purple: #9086F7;
$balatro-blue: #0F3460;
$balatro-dark-blue: #16213E;

$custom-colors: (
  "ull-purple": ($ull-purple),
  "purple": ($balatro-purple),
  "blue": ($balatro-blue),
  "cyan": ($balatro-cyan),
  "green": ($balatro-green),
  "yellow": ($balatro-yellow),
  "gray": ($balatro-gray),
);

// Configuramos Bulma con las variables que definimos
@use "bulma/sass" with (
  $primary: $ull-purple,
  $link: $ull-link,
  $body-background-color: $ull-beige,
  $family-primary: '"Argentum Sans", sans-serif',
  $custom-colors: $custom-colors,
  $control-border-width: 2px,
);

// Usamos la tipografía oficial de la Universidad
@import url("https://fonts.cdnfonts.com/css/argentum-sans");

// Definimos que is-primary se asocie con el morado
.is-primary {
    background-color: $ull-purple !important;
    color: white;
}

.main-column {
  min-width: 800px;
}

.box {
  border: 2px solid $balatro-blue;
  box-shadow: none;
}

.has-background-dark-blue {
  background-color: $balatro-dark-blue !important;
}

.is-card {
  vertical-align: middle;
  width: 100%;
  max-width: 100px;
  min-width: 60px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.is-card:hover {
  transform: scale(1.05);
}

.is-card.is-clicked-card {
  transform: scale(1.1);
  border: 2px solid $ull-pink;
  border-radius: 5%;
}

.is-empty-slot {
  vertical-align: middle;
  width: 100%;
  max-width: 100px;
  min-width: 60px;
  aspect-ratio: 100 / 140;
  
  border: 2px dashed $balatro-yellow;
  border-radius: 5%;
  background-color: transparent; 
}

.uml-image {
  width: 100%;
  overflow-x: auto; 
  overflow-y: auto
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

body {
  padding-bottom: 100px; 
}

/* Clases del 8-puzzle */
.puzzle-board {
  width: 100%;
  max-width: min(100%, 60vh);
  margin: 0 auto;
}

.puzzle-cell {
  aspect-ratio: 1 / 1;
  width: 100%;
  cursor: pointer;
}

.sidebar-column {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.sidebar-img {
  max-height: 90vh;
  width: auto;
  object-fit: contain;
}